---
title: Welcome to Middleman
---

<div class="large-image">
  <div class="container header center">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <h1>Asia Magazine</h1>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="table-of-content">

  <% sitemap.where(:tags.include => "article").all.each do |article| %>
    <article class="row">
      <div class="col-sm-4 col-md-2 article-thumbnail">
        <img src="images/articles/<%=article.data["image"]%>" 
          class="img-responsive img-rounded" alt="">
      </div>
      <div class="col-sm-8 col-md-4">
        <h3>
          <a href="<%= article.url %>"><%= article.data["title"] %></a>
        </h3>
        <p><%= article.data["summary"] %></p>
        <a href="<%= article.url %>">Read more</a>
      </div>
    </article>
    <% end %>
  </div>
</div>

